@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-XLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-XLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamLightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamBook.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamBookItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamMediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/GothamBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Black.otf");
  font-weight: 900;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.swiper {
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
}

.swiper-wrapper {
  /* min-height: 100vh; */
}

.CalculatorCarousel {
  @apply !px-14
}

.CalculatorCarousel .swiper-button-prev, .CalculatorCarousel .swiper-button-next {
  color: black !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transition-duration: 300ms;
}

.swiper-button-next {
  right: 40px !important;
}

.swiper-button-prev {
  left: 40px !important;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #EB3C75;
}

.mySwiper {
  height: 20vh;
  box-sizing: border-box;
  padding: 10px 0;
  min-height: unset !important;
}

.mySwiper .swiper-wrapper {
  min-height: unset !important;
  justify-content: end;
  gap: 1rem;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  /* opacity: 0.4; */
  min-height: unset !important;
  background: transparent !important;
  display: flex;
  align-items: end;
}

/* .mySwiper .swiper-slide:hover {
  opacity: 0.8;
} */

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.head2 {
  /* margin-left: 10px; */
  text-decoration: underline;
  @apply text-sm font-normal
  /* list-style-type: circle; */
}

.head3 {
  margin-left: 20px;
  list-style-type: circle;
  @apply text-sm font-normal
}

@media only screen and (max-width: 1024px) {
  .swiper-button-next {
    right: 10px !important;
  }

  .swiper-button-prev {
    left: 10px !important;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .swiper {
    min-height: 80vh;
  }

  .swiper-wrapper {
    min-height: 80vh;
  }

  .swiper-slide {
    min-height: 80vh;
  }
}


@media only screen and (max-width: 768px) and (min-width: 640px) {
  .swiper {
    min-height: 50vh;
  }

  .swiper-wrapper {
    min-height: 50vh;
  }

  .swiper-slide {
    min-height: 50vh;
  }
}

@media only screen and (max-width: 640px) {
  .swiper {
    min-height: 50vh;
  }

  .swiper-wrapper {
    min-height: 50vh;
  }

  .swiper-slide {
    min-height: 50vh;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}

.pagination-container .page-item {
  margin: 0 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: #7F56D9;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 6px;
}

.pagination-container .page-item:hover,
.pagination-container .page-item:focus {
  background-color: #e9e9e9;
  outline: none;
}

.pagination-container .active {
  border-color: #F9F5FF;
  background-color: #F9F5FF;
  color: #7F56D9;
}

.pagination-container .disabled {
  color: #cccccc;
  cursor: not-allowed;
  background-color: #f7f7f7;
}

.pagination-container .disabled:hover {
  background-color: #f7f7f7;
}

html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.ButtonhoverEffect {
  position: relative;
  border: 2px solid #EB3C75;
  overflow: hidden;
}

.ButtonhoverEffect::before,
.ButtonhoverEffect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: #EB3C75;
  z-index: -1;
  transition: all 300ms ease-in;
}

.ButtonhoverEffect:hover {
  color: #fff;
}

.ButtonhoverEffect::before {
  opacity: 0.3;
}

.ButtonhoverEffect::after {
  transition-delay: 0.3s;
}

.ButtonhoverEffect:hover::before,
.ButtonhoverEffect:hover::after {
  top: 0;
}

/* 
.linkHoverEffect {
	text-decoration: none;
	color: #18272F;
	font-weight: 700;
  position: relative;
  z-index: 2;
}

.linkHoverEffect::before {
  content: '';
  background-color: #EB3C75BF;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: 1;
  transition: all .3s ease-in-out;
}

. :hover::before {
  bottom: 0;
  height: 100%;
} */

.linkHoverEffect {
  position: relative;
  height: fit-content;
  background-image: linear-gradient(
    to right,
    #EB3C75,
    #EB3C75 50%,
    #EB3C75 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .3s ease-in-out;
  color: #EB3C75;
  font-size: large;
}

.linkHoverEffect::before {
  content: '';
  background: #EB3C75;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all .3s ease-in-out;
}
.linkHoverEffect:hover {
  background-position: 0;
 }
 .linkHoverEffect:hover::before {
  width: 100%;
}

.footerHoverEffect {
  position: relative;
  height: fit-content;
  background-image: linear-gradient(
    to left,
    /* #EB3C75, */
    #fff 50%,
    #EB3C75 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .3s ease-in-out;
  color: #EB3C75;
  font-size: medium;
}

.footerHoverEffect:hover {
  background-position: 0;
 }

 /* input[type=checkbox] {
  width: 20px;
  height: 20px;
}

input[type=checkbox]:checked+label::before {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  left: 0;
  top: 5px;
  background-color: #FA9E57;
  font-family: "Montserrat";
  border-radius: 2px;
  border: 1px solid rgb(150 150 150 / 30%);
}

input[type=checkbox]:checked+label::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
} */

.checkbox-input {
  appearance: none; /* Remove default checkbox styling */
  width: 20px; /* Size of the checkbox */
  height: 20px; /* Size of the checkbox */
  border: 2px solid #dcdcdc; /* Default border */
  border-radius: 4px; /* Rounded corners */
  background-color: #ffffff; /* Default background color */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transitions */
  position: relative;
}

.checkbox-input:checked {
  background-color: #EB3C75; /* Background color when checked */
  border-color: #EB3C75; /* Border color when checked */
}

.checkbox-input:hover {
  background-color: #eb3c7644; /* Background color when checked */
  border-color: #eb3c7644; /* Border color when checked */
}

.checkbox-input:checked::before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent; /* Checkmark color */
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%); /* Center the checkmark */
  border-radius: 2px; /* Round the checkmark */
}
