.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 0 8px; */
  background-color: white;
  display: flex;
  align-items: center;
  @apply border-2 border-gray-100;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem !important;
  width: 100%;
  padding-left: 30px !important;
  padding-right: 8px !important;
  border-radius: 10px !important;
  @apply duration-300;
}

.input-wrapper input:focus {
  outline: none;
  @apply bg-gray-50;
}

#search-icon {
  color: royalblue;
}
